@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke-3 {
  -webkit-text-stroke: 3px white ;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* You can change the background color */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* You can change the color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* You can change the color of the handle on hover */
}